@model IEnumerable<UserManagment2.Models.Diagnosis>

@{
    ViewData["Title"] = "visit diagnoses";
}

<h1>visit diagnoses</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Examiation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drugs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorDecision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiagnosisDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiagnosisLocation)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.VisitId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Examiation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drugs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnosis1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorDecision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnosisDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnosisLocation)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.VisitId)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiagnosisId" asp-route-visitId="@item.VisitId" class="btn  btn-sm btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DiagnosisId" class="btn  btn-sm btn-secondary">Details</a> @*|
                <a asp-action="Delete" asp-route-id="@item.DiagnosisId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
