@model IEnumerable<UserManagment2.Models.Patient>

@{
    ViewData["Title"] = "Index";
}



<div class="container p-3">
    <div class="row pt-4">
        <h2 >All Patients</h2>
    </div>
    <div class="row pt-4">
        <div class="col-6">
            @using (Html.BeginForm())
            {
            <div class="input-group">
                    @Html.TextBox("SearchByName",null,new{ @class="form-control",@placeholder="Search By patient Name ...."})
                <input type="submit" value="Search" class="btn btn-outline-success">
            </div>
            }
        </div>
        <div class="col-6 text-end" >
            <a asp-controller="Patient" asp-action="Create" class="btn btn-primary">
                   Add New Patient
            </a>
        </div>
    </div>
    
    <br /> 

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                        @Html.DisplayNameFor(model => model.NationalId)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Umn)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.PatientName)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.PatientAge)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.PatientAddress)
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.NationalId)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Umn)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.PatientAge)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.PatientAddress)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                        <a asp-controller="Visits" asp-action="Create" asp-route-id="@item.PatientId" asp-route-umn="@item.Umn" class="btn btn-sm btn-primary">New visit</a> |
                        <a asp-action="Edit" asp-route-id="@item.PatientId" class="btn btn-sm btn-success">Edit</a> @*|
                        <a asp-action="Delete" asp-route-id="@item.PatientId" class="btn btn-sm btn-danger">Delete</a> *@
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>







